__pycache__/
*.py[cod]
*$py.class

env/
venv/
.venv/
.env/

build/
dist/
*.egg-info/
.eggs/
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
htmlcov/

docs/_build/

.mypy_cache/
.dmypy.json
dmypy.json

.vscode/
.idea/
*.swp
*.swo

.ipynb_checkpoints

.env
.env.local
.env.*.local

# --- directories ---
.data/
.debug/
